
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.gitignore
.idea/workspace.xml
src/main/resources/static/
src/test/
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.settings/
ego-common/src/main/resources/
ego-common/src/test/resources/
ego-item-web/src/test/
ego-manager-web/src/test/
ego-order-web/src/test/
ego-portal-web/src/test/
ego-rpc/ego-rpc-mapper/src/test/
ego-rpc/ego-rpc-pojo/src/main/resources/
ego-rpc/ego-rpc-pojo/src/test/
ego-rpc/ego-rpc-service-impl/src/test/
ego-rpc/ego-rpc-service/src/main/resources/
ego-rpc/ego-rpc-service/src/test/
ego-rpc/src/
ego-search-web/src/test/
ego-sso-web/src/test/
src/
